<h1 align='center'>Python Programming Basic Assignment - 20</h1>

---

<h3>Q1</h3>
<b><pre>
Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of 
integers only.
Examples
filter_list([1, 2, 3, &quot;a&quot;, &quot;b&quot;, 4]) ➞ [1, 2, 3, 4]
filter_list([&quot;A&quot;, 0, &quot;Edabit&quot;, 1729, &quot;Python&quot;, &quot;1729&quot;]) ➞ [0, 1729]
filter_list([&quot;Nothing&quot;, &quot;here&quot;]) ➞ []

In [1]:
def filter_list(l):
    filtered_list = []
    for i in l:
        if type(i) == int:
            filtered_list.append(i)
    return filtered_list

In [2]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [3]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [4]:
filter_list(["Nothing", "here"])

[]

<h3>Q2</h3>
<b><pre>
Given a list of numbers, create a function which returns the list but with each element&#39;s index in the list added to 
itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [5]:
def add_indexes(l):
    finalize_list = []
    for i, j in enumerate(l):
        finalize_list.append(i+j)
    return finalize_list

In [6]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [7]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [8]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

<h3>Q3</h3>
<b><pre>
Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone 
rounded to the nearest hundredth. See the resources tab for the formula.
Example:
cone_volume(3, 2) ➞ 12.57
cone_volume(15, 6) ➞ 565.49
cone_volume(18, 0) ➞ 0

In [9]:
def cone_volume(h,r):
    return round((3.14 * r*r * h)/3,2)

In [10]:
cone_volume(3, 2)

12.56

In [11]:
cone_volume(15, 6)

565.2

In [12]:
cone_volume(18, 0)

0.0

<h3>Q4</h3>
<b><pre>
This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the sequence.
Examples
triangle(1) ➞ 1
triangle(6) ➞ 21
triangle(215) ➞ 23220

In [13]:
def triangle(n):
    summ = 0
    for i in range(1,n+1):
        summ = summ + i
    return summ

In [14]:
triangle(1)

1

In [15]:
triangle(6)

21

In [16]:
triangle(215)

23220

<h3>Q5</h3>
<b><pre>
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [17]:
def missing_num(l):
    universal_set = set(range(1,11))
    result = universal_set.difference(set(l))
    return list(result)[0]

In [18]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [19]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [20]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7