<h1 align='center'>Python Programming Basic Assignment - 19</h1>

---

<h3>Q1</h3>
<b><pre>
Create a function that takes a string and returns a string in which each character is repeated once.
Examples
double_char(&quot;String&quot;) ➞ &quot;SSttrriinngg&quot;
double_char(&quot;Hello World!&quot;) ➞ &quot;HHeelllloo WWoorrlldd!!&quot;
double_char(&quot;1234!_ &quot;) ➞ &quot;11223344!!__ &quot;

In [1]:
def double_char(string):
    return ''.join([i*2 for i in string])

In [2]:
double_char("String")

'SSttrriinngg'

In [3]:
double_char("Hello World!")

'HHeelllloo  WWoorrlldd!!'

In [4]:
double_char("1234!_ ")

'11223344!!__  '

<h3>Q2</h3>
<b><pre>
Create a function that reverses a boolean value and returns the string &quot;boolean expected&quot; if another variable 
type is given.
Examples
reverse(True) ➞ False
reverse(False) ➞ True
reverse(0) ➞ &quot;boolean expected&quot;
reverse(None) ➞ &quot;boolean expected&quot;

In [5]:
def reverse(bool_value):
    if type(bool_value)==bool:
        return not bool_value
    return "Boolean Type Excepted"

In [6]:
reverse(True)

False

In [7]:
reverse(False)

True

In [8]:
reverse(0)

'Boolean Type Excepted'

In [9]:
reverse(None)

'Boolean Type Excepted'

<h3>Q3</h3>
<b><pre>
Create a function that returns the thickness (in meters) of a piece of paper after folding it n number of 
times. The paper starts off with a thickness of 0.5mm.
Examples
num_layers(1) ➞ &quot;0.001m&quot;
Paper folded once is 1mm (equal to 0.001m)
num_layers(4) ➞ &quot;0.008m&quot;
Paper folded 4 times is 8mm (equal to 0.008m)
num_layers(21) ➞ &quot;1048.576m&quot;
Paper folded 21 times is 1048576mm (equal to 1048.576m)

In [10]:
def num_layers(no_of_fold):
    thickness = 0.5
    for i in range(no_of_fold):
        thickness *= 2
    return f"Paper folded {no_of_fold}x is {thickness / 1000}m"

# /1000 converts centimeter to meters

In [11]:
num_layers(1)

'Paper folded 1x is 0.001m'

In [12]:
num_layers(4)

'Paper folded 4x is 0.008m'

In [13]:
num_layers(21)

'Paper folded 21x is 1048.576m'

<h3>Q4</h3>
<b><pre>
Create a function that takes a single string as argument and returns an ordered list containing the indices of 
all capital letters in the string.
Examples
index_of_caps(&quot;eDaBiT&quot;) ➞ [1, 3, 5]
index_of_caps(&quot;eQuINoX&quot;) ➞ [1, 3, 4, 6]
index_of_caps(&quot;determine&quot;) ➞ []
index_of_caps(&quot;STRIKE&quot;) ➞ [0, 1, 2, 3, 4, 5]
index_of_caps(&quot;sUn&quot;) ➞ [1]

In [14]:
def index_of_caps(str1):
    s = []
    for i, j in enumerate(str1):
        if j.isupper():
            s.append(i)
    return s

In [15]:
index_of_caps("eQuINoX")

[1, 3, 4, 6]

In [16]:
index_of_caps("eDaBiT")

[1, 3, 5]

In [17]:
index_of_caps('determine')

[]

In [18]:
index_of_caps('STRIKE')

[0, 1, 2, 3, 4, 5]

In [19]:
index_of_caps('sUn')

[1]

<h3>Q5</h3>
<b><pre>
Using list comprehensions, create a function that finds all even numbers from 1 to the given number.
Examples
find_even_nums(8) ➞ [2, 4, 6, 8]
find_even_nums(4) ➞ [2, 4]
find_even_nums(2) ➞ [2]

In [20]:
def even_nums(n):
    return [i for i in range(1,n+1) if i%2==0]

In [21]:
even_nums(8)

[2, 4, 6, 8]

In [22]:
even_nums(4)

[2, 4]

In [23]:
even_nums(2)

[2]