<h1 align='center'>Assignment - 20

---

<h3>Q1</h3>
<b> Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'

# open txt file
text_file = open("test.txt", "w")
 
# write string to file
text_file.write(test1)
 
#close file
text_file.close()

---

<h3>Q2</h3>
<b>Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
test_2 = open("test.txt", "r")

print(test_2.read())

test_2.close()

This is a test of the emergency text system

<pre>
In test1 we are writing the tdata to the txt file
whereas
In test2 we are reading the data present within the txt file

---

<h3>Q3</h3>
<b>Create a CSV file called books.csv by using these lines:

<pre>
<b>title,author,year</b>
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [3]:
# Reading the same csv file

import pandas as pd
books = pd.read_csv('books.csv')
books

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

---

<h3>Q4</h3>
<b>Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

OperationalError: table books already exists

---

<h3>Q5</h3>
<b>Read books.csv and insert its data into the book table.

In [5]:
# Reading the same csv file

import pandas as pd
books = pd.read_csv('books.csv')
books.head(1)

                           title       author  year
0  The Weirdstone of Brisingamen  Alan Garner  1960

In [6]:
books.loc[len(books.index)] = 'The Wolf of Wall Street','ABC',1969

In [7]:
books.tail(1)

                     title author  year
5  The Wolf of Wall Street    ABC  1969

In [8]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')

read_books.to_sql('books', conn, if_exists='append', index = False)

---

<h3>Q6</h3>
<b>Select and print the title column from the book table in alphabetical order.

In [9]:
books.sort_values(by='title')

                           title           author  year
1         Perdido Street Station   China Miéville  2000
4                     Small Gods  Terry Pratchett  1992
3             The Spellman Files        Lisa Lutz  2007
0  The Weirdstone of Brisingamen      Alan Garner  1960
5        The Wolf of Wall Street              ABC  1969
2                          Thud!  Terry Pratchett  2005

In [10]:
c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Perdido Street Station',), ('Small Gods',), ('Small Gods',), ('The Spellman Files',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('Thud!',), ('Thud!',)]

---

<h3>Q7</h3>
<b>From the book table, select and print all columns in the order of publication.

In [11]:
books.sort_values(by='title')['title']

1           Perdido Street Station
4                       Small Gods
3               The Spellman Files
0    The Weirdstone of Brisingamen
5          The Wolf of Wall Street
2                            Thud!
Name: title, dtype: object

In [12]:
c.execute('select title, author,year from books order by year')
#print(c.fetchall())

df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1  The Weirdstone of Brisingamen      Alan Garner  1960
2                     Small Gods  Terry Pratchett  1992
3                     Small Gods  Terry Pratchett  1992
4         Perdido Street Station  China MiÃ©ville  2000
5         Perdido Street Station  China MiÃ©ville  2000
6                          Thud!  Terry Pratchett  2005
7                          Thud!  Terry Pratchett  2005
8             The Spellman Files        Lisa Lutz  2007
9             The Spellman Files        Lisa Lutz  2007

---

<h3>Q8</h3>
<b>Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [13]:
import sqlalchemy

engine = sqlalchemy.create_engine("sqlite:///books.db")

query = engine.execute('select * from books')

for i in query:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

---

<h3>Q9</h3>
<b>Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [49]:
import redis
conn = redis.Redis()
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

---

<h3>Q10</h3>
<b>Increment the count field of test and print it.

In [48]:
conn.hincrby('test','count', 3)

---